.load-more-container {
  background-color: @main-bg-color;
  text-align: center;
  padding: 5px;
}

.load-more a {
  display: block;
  padding: 1em 0;
  background-color: @main-highlight-background-color;
  cursor: pointer;
}

.pictures-area, .pictures-container{
  height: 100%;
  width: 100%;
}
.no-pictures-container {
  .vertical-center;
  text-align: center;
}


/*** Angular grid style ***/
.gridWrap {
  margin: 5px;
}

.photoGrid{
  position: relative;
  display: none;
}

.photoGrid.angular-grid{
  overflow-y: visible;
  display: block;
  padding: 5px;
}

.gridItem {
  position: absolute;
  list-style: none;
  box-sizing: border-box;
  -moz-box-sizing : border-box;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  overflow: hidden;
  background: @main-highlight-background-color url(@loading-picture-image) no-repeat center center;
}

.gridItem img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  opacity: 0;
  visibility: hidden;
}

.gridItem img.img-loaded {
  visibility: visible;
  opacity: 1;
}
